.footer {
    background-image: linear-gradient(to bottom right,  #4c8b62, #303b59);
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #fff;
}

.footer label{
    color: #fff;
}

