.footer {
    background-image: url("/public/images/boutiqueHeader.png"); 
    display: flex;
    justify-content: space-evenly;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}

.footer label{
    color: #fff;
}


